.text-xs {
    font-size: 12px;
    line-height: 16px;
    // ---------------- //
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}
.text-sm {
    font-size: 14px;
    line-height: 20px;
    // ---------------- //
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}
.text-base {
    font-size: 16px; 
    line-height: 24px;
    // ---------------- //
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}
.text-lg {
    font-size: 18px;
    line-height: 28px;
    // ---------------- //
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}
.text-xl{
    font-size: 20px;
    line-height: 28px;
    // ---------------- //
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}
.text-2xl{
    font-size: 24px;
    line-height: 32px;
    // ---------------- //
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}